<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Document</title>
</head>
<body>
  <div class="grid-container">
    <div id="00" class="grid-item"></div>
    <div id="01" class="grid-item"></div>
    <div id="02" class="grid-item"></div>
    <div id="10" class="grid-item"></div>
    <div id="11" class="grid-item"></div>
    <div id="12" class="grid-item"></div>
    <div id="20" class="grid-item"></div>
    <div id="21" class="grid-item"></div>
    <div id="22" class="grid-item"></div>
  </div>
  
  <script src="../model/index.js"></script>
  <script src="../controller/index.js"></script>
</body>
</html>