<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Document</title>
</head>
<body>
  <form id="player-names">
    ❌:<br>
    <input class="name-input" id="player-1-name" type="text" placeholder="Enter Player 1 Name Here"></br>
    ⚪:<br>
    <input class="name-input" id="player-2-name" type="text" placeholder="Enter Player 2 Name Here"></br>
  </form>
  <div class="grid-container">
    <div id="00" class="grid-item"></div>
    <div id="01" class="grid-item"></div>
    <div id="02" class="grid-item"></div>
    <div id="10" class="grid-item"></div>
    <div id="11" class="grid-item"></div>
    <div id="12" class="grid-item"></div>
    <div id="20" class="grid-item"></div>
    <div id="21" class="grid-item"></div>
    <div id="22" class="grid-item"></div>
  </div>
  <div id="score-board">
    <div class="score">player 1 victories: 0</div>
    <div class="score">player 2 victories: 0</div>
  </div>
  <script src="../model/index.js"></script>
  <script src="../controller/index.js"></script>
</body>
</html>